<!-- <input 
    type = "text" 
    name="newPartei" 
    class="form-control"
    (keypress)="showInputName($event)"
    value={{newParteiName}}
>
You wrote <b>{{newParteiName}}</b> as new partei name! -->


<!-- another way to apply listener is through ngModel, Angular makes everything instead of us -->
<!-- <input 
    type = "text" 
    name="newPartei" 
    class="form-control"
    [(ngModel)]="newParteiNameTWB"
> -->
<!-- You wrote <b>{{newParteiNameTWB}}</b> as new partei name!
<br>
<br>
<h4>Name:</h4><app-partei></app-partei>
<hr>
<h4>Name:</h4><app-partei></app-partei>
<hr> -->

<app-add-partei 
(parteiCreated)="onAddPartei($event)"
></app-add-partei>
<h4>This is a test H4 element</h4>
<ul [style]="{'list-style-type':'none', padding:0}">
<li 
*ngFor="let partei of parteiList; let i = index" 
[ngStyle]="{backgroundColor:(i%2) ? '#eee': 'white'}">
    <!-- <button 
        class="btn btn-danger"
        (click)="removePartei(i)"
    >X</button> -->
    <app-partei 
    [parteiEl]="partei"
    [parteiId]="i"
    [parteiType]="partei.parteiType"
    [testArray]="testArray"
    
    >
<button
         class="btn btn-danger"
         (click)="removePartei(i)"
        >X</button>
</app-partei>
</li>
</ul>
<!-- make delete partei button -->
Test case: see members {{parteiList[0].members}} /see type {{parteiList[0].parteiType}} / TestArray {{testArray.toString()}}