<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Top navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<h1>{{ title }}</h1>
<p>{{ loremipsum }}</p>

Enter your name:<input type="text" [(ngModel)]="name" /><br />
You entered: {{ name }} -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div [ngSwitch]="testValue">
        <div *ngSwitchDefault>Value is not from the list</div>

        <div *ngSwitchCase="1">Value is 1</div>
        <div *ngSwitchCase="5">Value is 5</div>
        <div *ngSwitchCase="10">Value is 10</div>
        <div *ngSwitchCase="20">Value is 20</div>
      </div>
      <!-- <h1 app-first-directive>Here will be our app</h1>
      <h1 appSecondDirective>Second directive demo</h1>
      <h1 [appSecondDir2]="myBgColor" defaultColor="#eee" >Second directive V2 demo</h1>
      <hr> -->
      <!-- <app-showhints></app-showhints>
      <hr>


      <app-userinfo></app-userinfo>
      <hr>
      <app-downloader></app-downloader> -->
      <app-parteien></app-parteien> <!-- element -->
      <!-- <div class="app-parteien"></div> -->
      <!-- classname -->
      <!-- <div app-parteien></div>   -->
      <!-- attribute -->
    </div>
  </div>
</div>